<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoBases2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProyectoBases2018.Properties.Settings>
            <setting name="Conexion" serializeAs="String">
                <value>"metadata=res://*/ProyectoBases2018.csdl|res://*/ProyectoBases2018.ssdl|res://*/ProyectoBases2018.msl;provider=MySql.Data.MySqlClient;provider connection string=&amp;quot;server=localhost;user id=ghidalgo;password=Nevermind1992*;database=dbuasj;persistsecurityinfo=True&amp;quot;"</value>
            </setting>
        </ProyectoBases2018.Properties.Settings>
    </userSettings>
</configuration>